body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
   
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    line-height: 1.6;
    color: #333;

}

h1, h2 {
    font-weight: 700;
    color: #000; 
}

#lp {
    background-color: #fff;
    box-shadow: 0 0.5rem 0.5rem #c9c9c9;
    max-width: 960px;
    width: 90%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

#rm {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#bs {
    list-style: none;
    padding: 0;
    text-align: justify;
}


#bs li {
    margin: 10px 0;
}

#bs i {
    color: black;
    margin-right: 10px;
}

#ud {
    color: red;
    text-decoration: underline;
    text-align: center;
}

footer {
    font-size: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: rgb(0, 221, 255);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

@media (max-width: 768px) {
    

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 1em;
    }

    p{
        font-size: 5px;
    }

    #lp p:first-of-type {
        font-size: 20px;
    }

    #lp {
       
        width: 100%;
        padding: 20px;
        margin-bottom: 0;
    }
    
}
